<html>
    <head>
        <title>
            Profile
        </title>
        <script src="/js/ajax.js"></script> 
    </head>
    <body>
        <h1 id="demo">Hello World!</h1>
        <button onclick=onClicked()>Click Me</button>
        <input type="text" id="name" name="username" onkeyup=onChanged() placeholder="Enter username"/>
    </body>
</html>