body {
    padding: 2rem 0rem;
  }
  
  .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .card-title {
    margin-bottom: 0.3rem;
  }
  
  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .fa-users {
    margin-left: 1rem;
  }
  
  .card-footer {
    font-size: 0.8rem;
  }

  .nav_btn{
  background-color: rgb(183, 255, 255);
  }

  .card-text {
    overflow-y: scroll;
    height: 150px;
  }

  .card-text::-webkit-scrollbar-track
  {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    /* background-color: #F5F5F5; */
    background-color: transparent;
  }

  .card-text::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  .card-text::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }